.h1, p{
    text-align: center;
}
li:hover{
    background-color: rgb(50, 106, 59);
}
li:active{
    font-family: georgia;
}
ul, ol{
    list-style: none;
}
p{
    font-size: 25px;
    font-weight: bold;
    color: rgb(50, 106, 59);
}